# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# If you are using PostgreSQL
*.pgsql

# If you are using MySQL
*.mysql

# If you are using SQLite
*.sqlite3

# Django migrations
*/migrations/*

# Media
/media

# Static files
/staticfiles

# Virtual environment
venv/
env/
ENV/
.venv/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

.env